/* Background and Section */

.fullWindow {
    padding: 20px;

    min-height: 100vh;
    box-sizing: border-box;
}
.mainContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Ensure it fills the entire screen */
.background {

    align-items: center;
    /* Center all child elements horizontally */
    justify-content: flex-start;
    /* Align elements starting from top */
    width: 100dvw;
    /* Make sure it's the full width */
    overflow: hidden;
    /* Prevent scrolling here */
}

/* Content inside background will be scrollable */


iframe {
    width: 100%;
    max-width: 600px;
    /* Limit the maximum width */
    height: 152px;
    border-radius: 12px;
    margin: 0 auto;
    /* Centers the iframe */
    display: block;
}

.analyticsSection {
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 100dvh;
    /* 100% of the dynamic viewport height */
    overflow-y: auto;
    padding-bottom: 50px;
    /* Optional: ensure space at the bottom */
}

/* Styling for PDF and CSV buttons */
button[type="pdf"],
button[type="csv"] {
    background-color: #001e30;
    /* Darker gray for button */
    color: #ffffff;
    /* White text color */
    padding: 12px 24px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
button[type="transaction"] {
    background-color: #001e30;
    /* Darker gray for button */
    color: #ffffff;
    /* White text color */
    padding: 12px 24px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
/* Title of Analytics */
.analyticsTitle {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: #c9c9cd;
    /* Light gray color for text */
}

/* Grid layout for the charts */
.chartGrid {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Styling for each individual chart box */
.chartBox {
    background-color: #44484f;
    /* Darker background for chart box */
    padding: 16px;
    max-width: 500px;
    min-width: 100px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* Subtle shadow */
    margin-bottom: 24px;
    /* Add spacing between chart boxes */
}
/* Chart container styling */
.chartContainer {
    
    background-color: #33363c;
    /* Darker gray background for chart container */
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Chart Title */
.chartTitle {
    font-size: 1.25rem;
    font-weight: 600;
    color: #e2e9ea;
    /* Light off-white color for titles */
    margin-bottom: 12px;
}

/* For line and pie chart borders and other minor details */
.chartjs-render-monitor {
    border-color: #72757c;
    /* Border color for charts */
}

/* Styling for button container */
.buttonContainer {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
}


/* Responsive adjustments for smaller devices */
@media (max-width: 480px) {
    .analyticsTitle {
        font-size: 1.5rem;
    }

    .chartTitle {
        font-size: 1.1rem;
    }

    .chartBox {
        margin-bottom: 16px;
    }
}

/* Responsive Grid layout - Adjust for left to right arrangement */
@media (max-width: 768px) {
    .analyticsTitle {
        font-size: 1.5rem;
    }

    .chartTitle {
        font-size: 1rem;
    }

    .buttonContainer {
        flex-direction: column;
        align-items: center;
    }
}
