
/*basics.css */
/* 
#33363c
#c9c9cd
#8a8b92
#a2a5aa
#62636b
#72757c
#52565d
#aca4ac



#001e30
#277278
#0c3e43
#e2e9ea


green bg bg-[#001e30]
*/
body{ 
    font-family: 'Plethora', sans-serif;
    background-color: #001e30;
}

.basic-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0c3e43;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button[type='yes'] {
    padding: 10px 20px;
    background-color: #c9c9cd;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.2s ease;
    margin-top: 10px;
    width: 100%;

}

button[type='yes']:hover {
    filter: brightness(0.85);
    border-radius: 25px;
    border-color: #222;

}

.submit-button {
    padding: 10px 20px;
    background-color: #052f49;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.2s ease;
    margin-top: 10px;
    width: 100%;

}

.submit-button:hover {
    filter: brightness(0.85);
    border-radius: 25px;
    border-color: #222;

}

.linkButton {
    padding: 10px 20px;
    background-color: #001e30;
    color: rgb(192, 196, 210);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.2s ease;
    margin-top: 10px;

}

.linkButton:hover {
    filter: brightness(0.85);
    border-radius: 25px;
    border-color: #222;

}





@font-face {
    font-family: 'Plethora';
    src: url('Plethora-Light.eot');
    src: local('Plethora Light'), local('Plethora-Light'),
        url('Plethora-Light.eot?#iefix') format('embedded-opentype'),
        url('Plethora-Light.woff2') format('woff2'),
        url('Plethora-Light.woff') format('woff'),
        url('Plethora-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
