/* Apply a full-page background */
@font-face {
    font-family: 'Plethora';
    src:
        url('/Plethora-Light.woff2') format('woff2'),
        url('/Plethora-Light.woff') format('woff'),
        url('/Plethora-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
body {
    background-color: rgb(4, 12, 30);

    color: rgb(1, 4, 14);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Plethora', sans-serif;
    flex-direction: column;
    overflow: auto;
}

/* Ensure the entire page uses the background color */
html,
body {
    height: 110%;
    min-height: 100vh;
    /* Make sure it stretches the full height even if content is small */
}

.page-wrapper {
    width: 100%;
    height: 100vh;

    /* Make the wrapper take full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
    overflow: auto;
    /* Ensure the content scrolls within the page */

}



/* Register container with smooth fade-in */
.register-container {
    text-align: left;
    width: 100%;
    max-width: 70dvh;
    
    /* Set a max-width for better layout */
    margin-top: 385px;
    background-color: #8a8b92;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Show register container after fade-in delay */
.register-container.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/* Banner styles */
.banner {
    padding: 10px;
    color: white;
    background-color: red;
    /* Modify according to messageType */
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.banner-error {
    background-color: red;
}

.progress-bar-container {
    width: 100%;
    height: 5px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-top: 5px;
}

.progress-bar {
    height: 100%;
    background-color: green;
    border-radius: 10px;
}

/* Input styles */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

input.input-error {
    border: 1px solid red;
    /* Error styling for inputs */
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Error message styles */
input:focus {
    outline: none;
    border-color: #007bff;
}

.form-group {
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}


/* Button styles for the login navigation */
button[type="signup"] {
    padding: 10px 20px;
    background-color: #001e30;
    /* Green background */
    color: #a2a5aa;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

button[type="signup"]:hover {
    background-color: #172726;
    /* Darker green on hover */
    transform: scale(1.05);
}

button[type="signup"]:disabled {
    background-color: #d61a1a;
    /* Lighter green when disabled */
    cursor: not-allowed;
}
/* For the Home button */
.back-button {
    position: absolute;
    /* Green background */
    font-family: 'Plethora', sans-serif;
    color: #a2a5aa;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {

    /* Darker green on hover */
    transform: scale(1.05);

}

button[type="login"] {
    padding: 10px 20px;
    background-color: #d7e7d7;
    /* Green background */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
}

button[type="login"]:hover {
    background-color: #001e30;
    transform: scale(1.05);
}

button[type="login"]:disabled {
    background-color: #d61a1a;
    /* Lighter green when disabled */
    cursor: not-allowed;
}

.requirements {
    font-size: 0.75em;
    /* Make the text smaller */
    color: rgb(170, 17, 17);
    opacity: 0.75;
    /* Apply 75% transparency */
    margin-top: 5px;
    /* Space between the input field and the text */
    display: block;
    text-align: left;
}